@layer base {
  body {
    @apply text-gray-900  dark:text-gray-100;
    @apply min-h-screen;
  }
  body.dark {
    @apply bg-gray-900 text-gray-100 min-h-screen;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: Comfortaa, Righteous;
  }

  /* Make clicks pass-through */
  #nprogress {
    pointer-events: none;
  }

  #nprogress .bar {
    @apply bg-primary fixed top-0 left-0 w-full h-1;
    z-index: 1031;
  }

  /* Remove these to get rid of the spinner */
  #nprogress .spinner {
    @apply block fixed top-4 right-4;
    z-index: 1031;
  }

  #nprogress .spinner-icon {
    @apply w-5 h-5 box-border border-transparent border-4 border-solid;
    border-top-color: theme('colors.primary.DEFAULT');
    border-left-color: theme('colors.primary.DEFAULT');
    border-radius: 50%;
    animation: nprogress-spinner 400ms linear infinite;
  }

  .nprogress-custom-parent {
    @apply overflow-hidden relative;
  }

  .nprogress-custom-parent #nprogress .spinner,
  .nprogress-custom-parent #nprogress .bar {
    @apply absolute;
  }

  @keyframes nprogress-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes darkColors {
    0% {
      color: #080808;
      text-shadow: 0 0 50px #080808;
      transform: scale(0);
    }
    25% {
      color: #080808;
      text-shadow: 0 0 50px #f4f4f4;
      transform: scale(1.1);
    }
    50% {
      color: #f4f4f4;
      text-shadow: 0 0 50px #e3a008;
      transform: scale(1);
    }
    100% {
      color: #f4f4f4;
      text-shadow: 0 0 50px #080808;
      transform: scale(1);
    }
  }
  @keyframes lightColors {
    0% {
      color: #f4f4f4;
      text-shadow: 0 0 50px #f4f4f4;
      transform: scale(0);
    }
    33% {
      color: #f4f4f4;
      text-shadow: 0 0 50px #080808;
      transform: scale(1.1);
    }
    66% {
      color: #080808;
      text-shadow: 0 0 50px #080808;
      transform: scale(0.8);
    }
    100% {
      color: #080808;
      text-shadow: 0 0 50px #f4f4f4;
      transform: scale(1);
    }
  }

  @keyframes colors {
    0% {
      background: #e3a008;
      filter: blur(20px);
    }
    25% {
      background: #b92b27;
      filter: blur(20px);
    }
    50% {
      background: #e3a008;
      filter: blur(20px);
    }
    75% {
      background: #3f83f8;
      filter: blur(20px);
    }
    100% {
      background: #e3a008;
      filter: blur(20px);
    }
  }

  .gradientContainer {
    background: linear-gradient(-45deg, #b92b27, #243b55, #b92b27);
    background-size: 400% 400%;
    height: 100vh;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
