@layer utilities {
  [dir="rtl"] .shadow-end {
    @apply shadow-left;
  }

  [dir="ltr"] .shadow-end {
    @apply shadow-right;
  }

  [dir="rtl"] .shadow-start {
    @apply shadow-right;
  }

  [dir="ltr"] .shadow-start {
    @apply shadow-left;
  }
}
@layer utilities {
  .scale-hover:hover {
    background-image: linear-gradient(#3490dc, #6574cd) !important ;
    transform: scale(1.05) !important;
    transition-duration: 300ms !important;
    color: white !important;
  }
}
